node_modules/
.env
.env.local
.env.*.local
.next/
out/
dist/
build/
coverage/
*.log
.DS_Store
*.pem
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.vercel/
supabase/.temp/
*.tsbuildinfo
next-env.d.ts
